docify==1.1.0

typing-extensions==4.12.2

gdb==16.3.*
mock==5.2.*
colorama==0.4.*
wurlitzer==3.1.*
pyjks==20.0.*
flake8-bugbear==24.12.12
toposort==1.10
auth0-python==4.10.*
tensorflow~=2.18.0
pycocotools==2.0.*
croniter==6.0.0
Flask-Cors==6.0.*
icalendar==6.3.1
slumber==0.7.*
psutil==7.0.*
bleach[css]==6.2.*
setuptools==80.9.*
uWSGI==2.0.*
ldap3==2.9.*
pytest-lazy-fixture==0.6.*
mysqlclient==2.2.*
boltons==25.0.*
console-menu==0.8.*
python-http-client==3.3.7
flake8-rst-docstrings==0.3.*
retry==0.9.*
PyYAML==6.0.*
RPi.GPIO==0.7.*
ujson==5.10.*
PyScreeze==1.0.1
ExifRead==3.0.*
dockerfile-parse==2.0.*
aws-xray-sdk==2.14.*
aiofiles==24.1.*
antlr4-python3-runtime==4.13.*
geopandas==1.1.1
Send2Trash==1.8.*
grpcio==1.*
hnswlib==0.8.*
keyboard==0.13.*
django-filter==25.1.*
entrypoints==0.4.*
opentracing==2.4.*
pika==1.3.*
Markdown==3.8.*
gevent==25.4.*
vobject~=0.9.9
waitress~=3.0.1
greenlet==3.2.*
grpcio-channelz==1.*
psycopg2~=2.9.10
jmespath==1.0.*
zxcvbn==4.5.*
zstd~=1.5.7.1
pyasn1==0.6.*
pexpect==4.9.*
ratelimit==2.2.*
translationstring==1.4.*
cffi==1.17.*
pysftp==0.2.*
TgCrypto==1.2.*
qrcode[pil]==8.2.*
decorator==5.2.*
click-shell==2.1
dateparser[fasttext,langdetect]~=1.2.2
rfc3339-validator==0.1.*
braintree==4.38.*
polib==1.2.*
pyinstaller==6.15.*
flake8-typing-imports==1.16.*
peewee==3.18.2
hvac==2.3.*
nanoleafapi==2.1.*
flake8-builtins==3.0.*
oauthlib==3.3.*
jsonnet==0.21.*
Authlib~=1.6.2
lupa==2.5.*
google-cloud-ndb==2.3.*
ibm-db==3.2.6
parsimonious==0.10.*
Flask-Migrate==4.1.*
protobuf~=6.30.2
PyAutoGUI==0.9.*
str2bool==1.1
usersettings==1.1.*
python-crontab==3.3.*
django-import-export==4.3.*
html5lib[all]==1.1.*
chevron==0.14.*
jsonschema[format]~=4.25.1
pycurl==7.45.6
first==2.0.*
ttkthemes==3.2.*
python-xlib==0.33.*
pyfarmhash==0.4.*
passpy==1.0.*
inifile==0.4.*
grpcio-health-checking==1.*
flake8==7.3.*
Jetson.GPIO==2.1.*
pyxdg==0.28.*
PyMySQL==1.1.*
toml==0.10.*
jwcrypto==1.5.*
m3u8==6.0.*
defusedxml==0.7.*
click-web==0.8.*
pyRFC3339~=2.0.1
tqdm[slack,telegram]==4.67.*
docker==7.1.*
regex==2025.7.34
pynput~=1.8.1
watchpoints==0.2.5
docutils==0.22.*
lzstring==1.0.*
Flask-SocketIO==5.5.*
pyflakes==3.4.*
pony==0.7.*
six==1.17.*
libsass==0.23.*
singledispatch==4.1.*
click-spinner==0.1.*
pyperclip==1.9.*
portpicker==1.6.*
python-nmap==0.7.*
mypy-extensions==1.1.*
netaddr==1.3.*
pytz==2025.2
Pygments==2.19.*
s2clientprotocol==5.*
httplib2==0.22.*
xlrd==2.0.*
capturer==3.0.*
channels==4.3.*
grpcio-status==1.*
dirhash==0.5.*
shapely==2.1.*
assertpy==1.1.*
workalendar==17.0.*
xdgenvpy==3.0.*
JACK-Client==0.5.*
grpcio-reflection==1.*
fanstatic==1.5.*
pyaudio==0.2.*
whatthepatch==1.0.*
Deprecated~=1.2.15
objgraph==3.6.*
pywin32==311.*
fpdf2==2.8.4
pyserial[cp2110]==3.5.*
tabulate==0.9.*
untangle==1.2.*
pep8-naming==0.15.*
python-jenkins~=1.8.3
WebOb==1.8.*
click-log==0.4.*
qrbill==1.1.*
editdistance==0.8.*
flake8-simplify==0.22.*
openpyxl==3.1.5
yt-dlp==2025.8.22
python-jose==3.5.*
passlib==1.7.*
netifaces==0.11.*
click-default-group==1.2.*
seaborn==0.13.2
cachetools==6.1.*
xmltodict==0.14.*
binaryornot==0.4.*
requests-oauthlib==2.0.*
paramiko==4.0.*
networkx==3.5
WTForms~=3.2.1
flake8-docstrings==1.7.*
unidiff==0.7.*
nanoid==2.0.0
olefile==0.47.*
simplejson==3.20.*
reportlab[pycairo]~=4.4.1
python-dateutil==2.9.*
requests[socks]~=2.32.4
hdbcli==2.25.*
