docify==1.1.0

typing-extensions==4.12.2

boltons==25.0.*
Flask-SocketIO==5.5.*
django-import-export==4.3.*
pyjks==20.0.*
grpcio-channelz==1.*
rfc3339-validator==0.1.*
jmespath==1.0.*
olefile==0.47.*
xmltodict==0.14.*
docker==7.1.*
passlib==1.7.*
flake8-bugbear==24.12.12
hdbcli==2.24.*
Deprecated~=1.2.15
qrbill==1.1.*
zxcvbn==4.5.*
str2bool==1.1
requests-oauthlib==2.0.*
oauthlib==3.3.*
pyasn1==0.6.*
tqdm[slack,telegram]==4.67.*
colorama==0.4.*
TgCrypto==1.2.*
libsass==0.23.*
croniter==6.0.0
pexpect==4.9.*
six==1.17.*
usersettings==1.1.*
assertpy==1.1.*
PyYAML==6.0.*
pep8-naming==0.15.*
bleach[css]==6.2.*
html5lib[all]==1.1.*
watchpoints==0.2.5
python-jenkins==1.8.*
PyMySQL==1.1.*
pycurl==7.45.6
cachetools==6.0.*
pysftp==0.2.*
pika==1.3.*
peewee==3.18.1
pyxdg==0.28.*
icalendar==6.3.1
RPi.GPIO==0.7.*
grpcio-health-checking==1.*
beautifulsoup4[html5lib,lxml]==4.12.*
fanstatic==1.5.*
vobject~=0.9.9
lupa==2.4.*
pyperclip==1.9.*
editdistance==0.8.*
parsimonious==0.10.*
python-crontab==3.2.*
greenlet==3.2.*
entrypoints==0.4.*
Markdown==3.8.*
polib==1.2.*
psutil==7.0.*
ratelimit==2.2.*
dateparser[fasttext,langdetect]~=1.2.2
flake8==7.3.*
whatthepatch==1.0.*
click-web==0.8.*
python-nmap==0.7.*
console-menu==0.8.*
translationstring==1.4.*
JACK-Client==0.5.*
objgraph==3.6.*
grpcio-status==1.*
pytest-lazy-fixture==0.6.*
qrcode[pil]==8.2.*
regex==2024.11.6
fpdf2==2.8.3
Jetson.GPIO==2.1.*
opentracing==2.4.*
grpcio==1.*
wurlitzer==3.1.*
m3u8==6.0.*
psycopg2~=2.9.10
unidiff==0.7.*
passpy==1.0.*
antlr4-python3-runtime==4.13.*
jsonschema[format]==4.24.*
nanoid==2.0.0
hnswlib==0.8.*
setuptools==80.9.*
decorator==5.2.*
click-spinner==0.1.*
cffi==1.17.*
protobuf~=6.30.2
aws-xray-sdk==2.14.*
ldap3==2.9.*
shapely==2.1.*
docutils==0.21.*
Authlib==1.5.0
zstd==1.5.7.0
first==2.0.*
Flask-Migrate==4.1.*
mysqlclient==2.2.*
binaryornot==0.4.*
dirhash==0.5.*
google-cloud-ndb==2.3.*
gdb==15.0.*
hvac==2.3.*
httplib2==0.22.*
geopandas==1.0.1
WTForms~=3.2.1
inifile==0.4.*
jwcrypto==1.5.*
lzstring==1.0.*
xdgenvpy==3.0.*
reportlab[pycairo]~=4.4.1
Send2Trash==1.8.*
Flask-Cors==6.0.*
simplejson==3.20.*
slumber==0.7.*
paramiko==3.5.*
Pygments==2.19.*
openpyxl==3.1.5
ttkthemes==3.2.*
grpcio-reflection==1.*
flake8-simplify==0.21.*
defusedxml==0.7.*
s2clientprotocol==5.*
ujson==5.10.*
waitress~=3.0.1
tabulate==0.9.*
mypy-extensions==1.1.*
netifaces==0.11.*
requests[socks]~=2.32.4
ibm-db==3.2.6
pyRFC3339~=2.0.1
untangle==1.2.*
pyinstaller==6.14.*
uWSGI==2.0.*
pycocotools==2.0.*
python-xlib==0.33.*
PyScreeze==1.0.1
pytz==2025.2
singledispatch==4.1.*
capturer==3.0.*
python-http-client==3.3.7
networkx==3.5
pyaudio==0.2.*
toml==0.10.*
nanoleafapi==2.1.*
pynput~=1.8.1
dockerfile-parse==2.0.*
gevent==25.4.*
seaborn==0.13.2
chevron==0.14.*
netaddr==1.3.*
keyboard==0.13.*
click-default-group==1.2.*
WebOb==1.8.*
tensorflow~=2.18.0
pywin32==310.*
xlrd==2.0.*
retry==0.9.*
pyflakes~=3.3.2
flake8-docstrings==1.7.*
mock==5.2.*
flake8-typing-imports==1.16.*
pyfarmhash==0.4.*
auth0-python==4.9.*
aiofiles==24.1.*
PyAutoGUI==0.9.*
ExifRead==3.0.*
portpicker==1.6.*
click-log==0.4.*
toposort==1.10
python-dateutil==2.9.*
flake8-builtins==2.5.*
workalendar==17.0.*
flake8-rst-docstrings==0.3.*
pyserial[cp2110]==3.5.*
braintree==4.36.*
python-jose==3.5.*
