docify==1.1.0

typing-extensions==4.12.2

pyRFC3339~=2.0.1
ttkthemes==3.2.*
netaddr==1.3.*
pywin32==308.*
cffi==1.16.*
nanoid==2.0.0
html5lib[all]==1.1.*
passpy==1.0.*
fanstatic==1.4.*
untangle==1.2.*
pyjks==20.0.*
aiofiles==24.1.*
ExifRead==3.0.*
polib==1.2.*
Deprecated~=1.2.15
peewee==3.17.9
uWSGI==2.0.*
humanfriendly==10.0.*
corus==0.10.*
vobject~=0.9.9
tensorflow~=2.18.0
greenlet==3.1.*
icalendar==6.1.*
flake8-typing-imports==1.16.*
tabulate==0.9.*
nanoleafapi==2.1.*
usersettings==1.1.*
click-web==0.8.*
seaborn==0.13.2
PyMySQL==1.1.*
tqdm[slack,telegram]==4.67.*
flake8-bugbear==24.12.12
python-xlib==0.33.*
setuptools==75.8.*
toposort==1.10
croniter==5.0.1
xdgenvpy==3.0.*
Markdown==3.7.*
click-log==0.4.*
python-jose==3.3.*
lzstring==1.0.*
commonmark==0.9.*
Flask-Cors==5.0.*
ibm-db==3.2.5
psutil==7.0.*
chevron==0.14.*
psycopg2~=2.9.10
opentracing==2.4.*
influxdb-client[extra]==1.45.*
gdb==15.0.*
dockerfile-parse==2.0.*
jmespath==1.0.*
console-menu==0.8.*
flake8==7.1.*
netifaces==0.11.*
defusedxml==0.7.*
Send2Trash==1.8.*
WebOb==1.8.*
shapely==2.0.*
dateparser[fasttext,langdetect]==1.2.*
networkx==3.4.2
pexpect==4.9.*
hdbcli==2.23.*
m3u8==6.0.*
antlr4-python3-runtime==4.13.*
parsimonious==0.10.*
pyxdg==0.28.*
mock==5.1.*
retry==0.9.*
pyaudio==0.2.*
regex==2024.11.6
python-nmap==0.7.*
entrypoints==0.4.*
requests[socks]==2.32.*
keyboard==0.13.*
python-datemath==3.0.1
boltons==25.0.*
flake8-simplify==0.21.*
bleach[css]==6.2.*
assertpy==1.1.*
pygit2==1.15.*
oauthlib==3.2.*
translationstring==1.4.*
ujson==5.10.*
singledispatch==4.1.*
cachetools==5.5.*
beautifulsoup4[html5lib,lxml]==4.12.*
Authlib==1.4.*
whatthepatch==1.0.*
pyasn1==0.6.*
zstd==1.5.6.3
python-http-client==3.3.7
RPi.GPIO==0.7.*
gevent==24.11.*
python-crontab==3.2.*
PyScreeze==1.0.1
python-jenkins==1.8.*
pika==1.3.*
inifile==0.4.*
capturer==3.0.*
Pygments==2.19.*
flake8-rst-docstrings==0.3.*
click-spinner==0.1.*
workalendar==17.0.*
django-import-export==4.3.*
qrbill==1.1.*
PyAutoGUI==0.9.*
jwcrypto==1.5.*
Jetson.GPIO==2.1.*
jsonschema[format]==4.23.*
slumber==0.7.*
colorama==0.4.*
flake8-builtins==2.5.*
pysftp==0.2.*
decorator==5.1.*
zxcvbn==4.5.*
braintree==4.33.*
TgCrypto==1.2.*
WTForms~=3.2.1
olefile==0.47.*
caldav==1.3.*
pyfarmhash==0.4.*
pyperclip==1.9.*
first==2.0.*
pytz==2025.1
str2bool==1.1
qrcode[pil]==8.0.*
click-default-group==1.2.*
google-cloud-ndb==2.3.*
lupa==2.4.*
reportlab[pycairo]==4.3.1
paramiko==3.5.*
docutils==0.21.*
pyinstaller==6.12.*
requests-oauthlib==2.0.*
s2clientprotocol==5.*
tree-sitter-languages==1.10.*
fpdf2==2.8.2
wurlitzer==3.1.*
flake8-docstrings==1.7.*
python-dateutil==2.9.*
pycurl==7.45.4
geopandas==1.0.1
PyYAML==6.0.*
libsass==0.23.*
ldap3==2.9.*
pycocotools==2.0.*
mypy-extensions==1.0.*
pep8-naming==0.14.*
protobuf~=5.29.1
xmltodict==0.14.*
Flask-SocketIO==5.5.*
pytest-lazy-fixture==0.6.*
toml==0.10.*
docker==7.1.*
openpyxl==3.1.5
unidiff==0.7.*
httplib2==0.22.*
passlib==1.7.*
editdistance==0.8.*
aws-xray-sdk==2.14.*
pynput==1.7.7
objgraph==3.6.*
mysqlclient==2.2.*
JACK-Client==0.5.*
portpicker==1.6.*
waitress~=3.0.1
pyserial[cp2110]==3.5.*
six==1.17.*
hvac==2.3.*
pyflakes==3.2.*
simplejson==3.20.*
Flask-Migrate==4.1.*
atheris==2.3.*
